h1{
    color:brown;
    font-family:"Times New Roman",serif;
    text-align:center;
}
h3{
    color:blue;
    font-style:italic;
    text-decoration:underline;
    font-family:sans-serif;


}
span{
    color:red;
    font-weight:bold;
}
body{
    font-size:large;
    background-color: rgb(176, 235, 240);
    font-family:Arial;
}
a{
    font-weight: bold ;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
ol{
   list-style-type:decimal; 
}
   p {
        font-family: New Century Schoolbook;
        font-size: 1.3em;
        width: 80%;
        margin: 0 auto;
      }
      p:first-letter {
        color: #483D8B;
        float: left;
        font-size: 5em;
        border: 2px solid;
        border-radius: 5px;
        margin: 0 .1em 0 0;
        line-height: 0.85;
      }

